<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div style="padding: 10px;  text-align: center; background:blueviolet;  width: 80%; margin: auto;">
        <h1>Hello!</h1>
        <h2>place your request here</h2>
        <h4 style="text-align:right;"> <a [routerLink]="['/farmerlogin']">log out </a></h4>
      </div >
      <div style="width: 80%; text-align: center;  background:rgb(248, 180, 237); padding: 10px;margin: auto; height:400px;">
        <div style="background: pink;">
        <div>
            <label><b>Crop Type</b></label>
             <input type="text" placeholder="Enter the category of crop" required>
        </div><br>
        <div>
            <label><b>Crop Name</b></label>
          <input type="text" placeholder="Enter crop name here" required>   
        </div><br>
        <div>
            <label><b>Fertilizer Type</b></label>
            <input type="text" placeholder="Enter the type of fertilizer used" required>
        </div><br>
        <div>
            <label><b>Quantity</b></label>
             <input type="text" placeholder="Enter the quanity of crop to be sold" required>
        </div><br>
        <div>
            <label><b>Soil ph certificate</b></label>
            <input type="text" placeholder="Upload ph certificate here" required>
        </div><br>
        <div>
            <button type="submit">Place request</button>
        </div>
      </div>
      </div> 
</body>
</html>