<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Gladiator</title>
    <link href="https://fonts.googleapis.com/css?family=Muli&display=swap" rel="stylesheet">
</head>

<body>
    <div class="row">
        <div class="main">
            <div class="card">
                <h2 style="text-align: center;">Welcome farmer !!! !</h2>
                <form>
                    <div class="container">
                        <label for="uname"><b>Enter username</b></label>
                        <input type="text" placeholder="Enter Username" name="uname">
                        <br>

                        <label for="psw"><b>Password</b></label>
                        <input type="password" placeholder="Enter Password" name="psw">
                        <br>

                        <button type="submit">Login</button>
                        <a [routerLink]="['/dashboardfarmer']">Farmer Dashboard</a> <br>
                        <label>
                            <input type="checkbox" checked="checked" name="remember"> Remember me<br>
                            <span class="psw"> <a href="#">Forgot password?</a></span>
                        </label>
                    </div>

                    <div class="container" style="background-color:#f1f1f1">
                        <label for="psw"><b>
                            <a [routerLink]="['/registerfarmer']">New farmer, register here</a> <br>
                        </b></label>
                        <button type="button" class="cancelbtn">Register here</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>



