<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <div style="padding: 10px;  text-align: center; background:blueviolet;  width: 80%; margin: auto;">
            <h1>View your selling records here</h1>
            <h4 style="text-align:right;"> <a [routerLink]="['/loginfarmer']">log out </a></h4>
        </div>
        <div style="width: 80%; text-align: center;  background:rgb(248, 180, 237); padding: 10px;margin: auto; height:400px;">
           
        </div>
      </div>
</body>
</html>