<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidder registration</title>
</head>

<body>
    <div class="row">
        <div class="main">
            <div class="card">
                <h2 style="text-align: center;">Place Bid!</h2>
                <form>
                    <div class="container">
                        <label for="ctype"><b>Select Crop type   </b></label>
                        <input type="text" placeholder="Enter crop type " name="ctype"><br>

                        <label for="cname"><b>Select Crop name   </b></label>
                        <input type="text" placeholder="Enter crop name " name="cname"><br>

                        <label for="bprice"><b>Base price  </b></label>
                        <input type="text" name="bprice"><br>

                        <label for="cbid"><b>Current Bid  </b></label>
                        <input type="text" name="cbid"><br>

                        <label for="bid"><b>Enter Your Bid Amount </b></label>
                        <input type="text" name="bid"><br>
                        
                    </div>

                    <div>
                        <button type="button" class="cancelbtn">Confirm</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>