<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AgroTech</title>
</head>

<body> 
    <p>Gautam</p>
    <div class="header">
        <h1>AgroTech</h1>
    </div>

    <div class="topnav">
        <ul>
            <h1>
                <p>Admin Module</p>
            </h1>
        </ul>
    </div>

    <button type="button">View All Farmers</button>
    <br>
    <br>
    <button type="button">View All Bidders</button>
    <br>
    <br>
    <button type="button">Verification Farmers</button>
    <br>
    <br>
    <button type="button">Verification Bidder</button>
    <br>
    <br>
    <button type="button">Registration of Username</button>
    <br>
    <br>
    <button type="button">Approve Selling Request</button>
    <br>
    <br>
    <button type="button">Confirm Bidder Request</button>





    <div>
        <router-outlet></router-outlet>
    </div>

</body>

</html>
