<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bidder registration</title>
</head>

<body>
    <div class="row">
        <div class="main">
            <div class="card">
                <h2 style="text-align: center;">Start your journey !</h2>
                <form>
                    <div class="container">
                        <div>Personal Details</div>
                        <label for="uname"><b>Full Name  </b></label>
                        <input type="text" placeholder="Enter Full Name " name="uname"><br>

                        <label for="contact"><b>Contact Number  </b></label>
                        <input type="text" placeholder="Enter Contact" name="contact"><br>

                        <label for="email"><b>Email id  </b></label>
                        <input type="text" placeholder="Enter Email" name="email"><br>

                        <div>Address Details</div>
                        <input type="text" placeholder="Line 1"><br>
                        <input type="text" placeholder="Line 2"><br>

                        <label for="state"><b>State </b></label> <input type="text" name="state"><br>
                        <label for="city"><b>City </b></label> <input type="text" name="city"><br>
                        <label for="pin"><b>Pin </b></label> <input type="text" name="pin"><br>

                        <div>Bank Details</div>
                        <label for="account"><b>Account Number  </b></label> <input type="text" name="account"><br>
                        <label for="ifsc"><b>IFSC  </b></label> <input type="text" name="ifsc"><br>

                        <div>Document Upload</div>
                        <label for="aadhar"><b>Aadhar  </b></label> <input type="text" name="aadhar"><br>
                        <label for="pan"><b>PAN  </b></label> <input type="text" name="pan"><br>
                        <label for="license"><b>Trader's License  </b></label> <input type="text" name="license"><br>
                    </div>

                    <div>
                        <button type="button" class="cancelbtn">Register</button><br>
                        <button type="button" class="cancelbtn">Reset</button><br>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>