<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>!!!! Welcome !!!!</h1>
  <div class="dropdown">
    <span>Login Portal</span>
    <div class="dropdown-content">
        <a [routerLink]="['/loginfarmer']">Farmer</a><br>
        <a [routerLink]="['/loginbidder']">Bidder</a><br>
        <a [routerLink]="['/loginadmin']">Admin</a>
    </div>
</div>
  <div>
    <router-outlet></router-outlet>
  </div>
 
</body>
<div class="footer"><a href="">Contact Us |
   </a> <a href=""> About Us</a></div>

</html>